<footer class="footer center">
	<a href="https://github.com/armno/c">c</a> is a website made by <a href="https://armno.in.th">@armno.</a>
	<p>
		<small>
			Data collected since <a href="/rides">07/07/2016</a>.
		</small>
	</p>
</footer>
