<header>
	<div class="center">
		<img src="/images/bike.svg" alt="bicycle">
	</div>
	<h1>#NOBULLSHIT</h1>
</header>
<main class="center">
	<p>
		<a href="https://www.strava.com/athletes/3637623">Armno</a> has climbed <code>{{ currentMeters }}</code> meters so far.
	</p>

	<p>
		Help him reach <code>{{ targetMeters }}</code> meters goal!
	</p>
</main>

{{> footer}}
