<svg width="281" height="545" viewBox="0 0 281 545" xmlns="http://www.w3.org/2000/svg">
  <g id="Page-1" fill="none" fill-rule="evenodd">
    <g id="c">
      <g id="mountain">
        <path d="M12.135 50.834C8.737 55.778 5.43 60.6 2.06 65.484h38.286M51.534 65.515H81.91C74.632 55.05 67.504 44.828 60.376 34.607M57.46 30.39c-1.956-2.79-3.91-5.61-5.866-8.432-7.52 7.583-14.677 14.71-21.684 21.93-1.955 2.002-3.64 2.336-5.504.09-1.263-1.515-2.526-3.002-4.15-4.943-1.685 2.457-3.34 4.823-4.933 7.19" id="Shape" stroke="#4A90E2" stroke-width="3.008" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M31.805 11.98h19.64V2.242h-19.64v9.736z" id="Shape" stroke="#4A90E2" stroke-width="3.008"/>
        <path d="M51.594 22.9c-.752 0-1.353-.608-1.353-1.366V12.13c0-.757.602-1.364 1.354-1.364.752 0 1.353.607 1.353 1.365v9.404c0 .758-.6 1.365-1.353 1.365z" id="Shape" fill="#4A90E2" fill-rule="nonzero"/>
      </g>
      <g id="progress-line" transform="translate(35 70)">
        <path d="M10.5 0v349.018" id="line-togo" stroke="#9FCBFF" stroke-width="4" stroke-linecap="round"/>
        <path d="M10.5 352v106" id="line-collected" stroke="#9FCBFF" stroke-width="8"/>
        <circle id="start-point" fill="#6DAAF2" cx="10" cy="465" r="10"/>
      </g>
			<a href="/goal">
				<g id="goal">
					<path d="M119 41.152V62c0 1.105.895 2 2 2h146c1.105 0 2-.895 2-2V5c0-1.105-.895-2-2-2H121c-1.105 0-2 .895-2 2v20.848l-9 7.652 9 7.652z" id="bg" fill="#F38D33"/>
					<text id="150,000m" font-family="RobotoMono-Bold, Roboto Mono" font-size="20" font-weight="bold" fill="#FFD7BD" transform="translate(110 3)">
						<tspan x="36" y="33">{{formatNumber targetMeters "0,0"}}m</tspan>
					</text>
					<text id="Goal" font-family="RobotoMono-Regular, Roboto Mono" font-size="12" fill="#FFD0B1" transform="translate(110 3)">
						<tspan x="70" y="49">Goal</tspan>
					</text>
				</g>
			</a>
			<a href="/rides">
				<g id="current-elevation" transform="translate(25 388)" style="opacity: 0">
					<path d="M96 44.203V66c0 1.105.895 2 2 2h156c1.105 0 2-.895 2-2V2c0-1.105-.895-2-2-2H98c-1.105 0-2 .895-2 2v21.797L84 34l12 10.203z" id="bg" fill="#4A90E2"/>
					<text id="Elevation-Gain" font-family="RobotoMono-Regular, Roboto Mono" font-size="12" fill="#C3DFFF">
						<tspan x="126" y="56.149">Elevation Gain</tspan>
					</text>
					<text id="119,756m" font-family="RobotoMono-Bold, Roboto Mono" font-size="28" font-weight="bold" fill="#EBF4FF">
						<tspan x="109" y="39.649">{{formatNumber currentMeters "0,0"}}m</tspan>
					</text>
					<circle id="point-current-elevation" stroke="#6DAAF2" stroke-width="4" fill="#9FCBFF" cx="20" cy="34" r="20"/>
				</g>
			</a>
      <g id="initial-goal" transform="translate(35 396)">
        <path d="M83 20.87l-8.375 6.63L83 34.13V52c0 1.105.895 2 2 2h117c1.105 0 2-.895 2-2V2c0-1.105-.895-2-2-2H85c-1.105 0-2 .895-2 2v18.87z" id="bg" fill="#9FCBFF"/>
        <text id="29-July-2017" font-family="RobotoMono-Regular, Roboto Mono" font-size="10" fill="#EBF4FF">
          <tspan x="107" y="44">29 July 2017</tspan>
        </text>
        <text id="100,000m" font-family="RobotoMono-Bold, Roboto Mono" font-size="20" font-weight="bold" fill="#EBF4FF">
          <tspan x="95" y="29">100,000m</tspan>
        </text>
        <circle id="point-initial-goal" stroke="#6DAAF2" stroke-width="4" fill="#9FCBFF" cx="10" cy="26" r="10"/>
      </g>
      <g id="start">
        <path d="M118 518.87l-8.375 6.63 8.375 6.63V543c0 1.105.895 2 2 2h88c1.105 0 2-.895 2-2v-36c0-1.105-.895-2-2-2h-88c-1.105 0-2 .895-2 2v11.87z" id="bg" fill="#9FCBFF"/>
        <text id="7-July-2016" font-family="RobotoMono-Regular, Roboto Mono" font-size="9" fill="#EBF4FF" transform="translate(109 505)">
          <tspan x="25" y="33">7 July 2016</tspan>
        </text>
        <text id="Start" font-family="RobotoMono-Bold, Roboto Mono" font-size="12" font-weight="bold" fill="#EBF4FF" transform="translate(109 505)">
          <tspan x="37" y="18">Start</tspan>
        </text>
      </g>
    </g>
  </g>
</svg>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const BASE = 100000;
		const target = {{ targetMeters }};
		const current = {{ currentMeters }};

		const percentage = ((current - BASE) / (target - BASE)) * 100;

		const pathLength = document.querySelector('#line-togo').getTotalLength();

		const elementToMove = document.querySelector('#current-elevation');

		// 36px = half of moving element's height
		const pixelToMove = Math.round(pathLength - (percentage / 100 * pathLength)) + 36;

		TweenLite.to(elementToMove, 2, {
			y: pixelToMove,
			ease: Bounce.easeOut,
			opacity: 1,
			delay: 1.5
		});

		const progressLine = document.querySelector('#line-collected');
		const progressLineLength = progressLine.getTotalLength();
		TweenLite.to(progressLine, 4, {
			height: progressLineLength + pixelToMove
		});

	});
</script>
