<header>
	<div class="center">
		<img src="/images/riding-bike.svg" alt="bicycle" class="homepage-bike">
	</div>
	<h1>#KEEPCLIMBING</h1>
</header>
<main class="center">
	<p>
		<a href="https://www.strava.com/athletes/3637623">Armno</a> has climbed <code>{{formatNumber currentMeters "0,0.0"}}</code> meters so far.
	</p>

	<p>
		Help him reach <code>{{formatNumber targetMeters "0,0"}}</code> meters <a href="/goal">goal!</a>
	</p>
</main>

{{> footer}}
