<header>
	<div class="center">
		<img src="/images/bike.svg" alt="bicycle">
	</div>
	<h1>#NOBULLSHIT</h1>
</header>
<main>
	<p>
		Armno has climbed <code>{{ currentMeters }}</code> meters so far.
	</p>

	<p>
		Help him reach <code>{{ targetMeters }}</code> meters goal!!
	</p>
</main>

<footer class="footer">
	<a href="https://c.armno.xyz">c</a> is a website made by <a href="https://armno.in.th">armno.</a>
</footer>
