<header>
	<div class="center">
		<img src="/images/riding-bike.svg" alt="bicycle" class="homepage-bike">
	</div>
	<h1>#KEEPCLIMBING</h1>
</header>
<main class="center">
	<p>
		<code>{{formatNumber currentMeters "0,0.0"}} m</code> /
		<code>{{formatNumber targetMeters "0,0"}} m</code>
		<br>
		elevation gain
	</p>

	<a href="/goal" class="link-to-goal">what is this?</a>
</main>

{{> footer}}
