<a href="/" class="goback-link">(back)</a>
<ol class="logs">
	{{#each rides}}
	<li class="logs--item">
		<div class="logs-date">{{formatDate start_date}}</div>
		<span class="logs--elevation">{{total_elevation_gain}}m</span>
		{{name}}
	</li>
	{{/each}}
</ol>

{{> footer}}
