<a href="/" class="goback-link">(back)</a>

<h1 class="center">Goal</h1>

<blockquote class="center">
	<p>&ldquo;If I reach 100,000m elevation gain, I'll get myself a carbon frame.&rdquo;</p>
</blockquote>

<h2>Background Story</h2>

<p>I have started cycling with a road bike since May 2016. Initially it was meant to be for commuting: bike to work. My first road bike was <em>Merida Ride 100</em> which worked perfectly fine for commuting.</p>

<p>One day, I took the bike up to the mountain near where I live just because I was curious how would it be like, and that changed everything. It was very tiring, but also was <em>challenging</em> at the same time. I quite doubt it so I tried again on the very next day: same bike, same moutain, same route. And I wasn't wrong: I <em>really liked that</em>. I have fun climbing up to the moutain with a road bike since then.</p>

<h2>Current Bike: Trek Émonda ALR 5</h2>

<p>After about 2 months of commuting <em>and</em> climbing with my Merida, I decided to buy a new bike: Trek Émonda ALR 5, an all-round, climbing-ish aluminum road bike. It has been a great bike so far, much more fun to ride up hills than the previous one. With this bike, I'm more than sure that I love climbing. And so I want to take biking to the next level: getting myself a carbon bike.</p>

<h2>Why 100k?</h2>

<ul>
	<li>To ensure that I still love climbing</li>
	<li>To get to know my current bike well enough (in term of its performances)</li>
	<li>And to prevent myself from spending all my salary with the book too soon</li>
</ul>

{{> footer}}
